attrs==21.2.0
Automat==20.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
comtypes==1.1.10
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
dateparser==1.0.0
DateTime==4.3
Flask==1.1.2
google==3.0.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
lxml==4.6.3
MarkupSafe==1.1.1
MouseInfo==0.1.3
oauthlib==3.1.0
parsel==1.6.0
pen==0.1.0a4
Pillow==8.2.0
playsound==1.2.2
pluggy==0.13.1
priority==1.3.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
PyDispatcher==2.0.5
PyGetWindow==0.0.9
pyjokes==0.6.0
pylock==0.3
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyPdf==1.13
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.27
PySocks==1.7.1
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
pywhatkit==4.7
pywin32==300
queuelib==1.6.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
robot==20071211
Scrapy==2.5.0
selenium==3.141.0
service-identity==21.1.0
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
tomlkit==0.7.2
tweepy==3.10.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
tzlocal==2.1
urllib3==1.26.5
w3lib==1.22.0
Werkzeug==1.0.1
wikipedia==1.4.0
zope.interface==5.4.0
